page-login {

}
.circle-pic{
    width:190px;
    height:190px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
     margin-left: auto;
     margin-right: auto;
 }
 .btn{
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
 }

 .input{
     border:1px solid #eee;
     padding:10px;
     height: 50px;
 }