.content {
    text-align:center;
    margin:auto;
}
.circle-pic{
    width:210px;
    height:170px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
     margin-left: auto;
     margin-right: auto;
     margin:70px auto 30px;
 }
 .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px !important;
    border-radius: 2px !important;
    background: #006C35;
    color: #fff;
    border: 0;
    height: 40px;
    width:94%;
 }

 .input{
     border:1px solid #eee;
     padding:10px;
     height: 41px;
     margin-bottom:10px;
 }

.select {
    border: 1px solid #E8E8E8;
    padding: 10px 5px;
    margin-right: 5px;
}